<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="list-section">
   <app-user-list-section></app-user-list-section>
  </div>
  <div class="table-section">
    <h4>Quản lý người dùng</h4>
    <table class="table table-striped table-hover table-bordered">
      <thead>
      <tr>
        <th scope="col" class="uid-column">UID</th>
        <th scope="col">Tên</th>
        <th scope="col">Email</th>
        <th scope="col">Địa chỉ</th>
        <th scope="col">Số điện thoại</th>
        <th scope="col">Vai trò</th>
        <th scope="col">Hành động</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td class="uid-column">{{user.id_user}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.address}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.role.name_role}}</td>
        <td>Xóa | <a routerLink="/user-management/edit-user/{{user.id_user}}">Sửa</a></td>
      </tr>
      </tbody>
    </table>



  </div>

</div>
