.rspw-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.repw-form {
  min-width: 300px;
  max-width: 500px;
  width: 100%;
}

.rspw-full-width {
  width: 100%;
}
