<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Đổi mật khẩu</h3>
      <form class="change-password-form" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <mat-form-field class="change-password-full-width">
          <mat-label>Mật khẩu cũ</mat-label>
          <input formControlName="oldPassword" type="password" matInput >
        </mat-form-field>
        <mat-form-field class="change-password-full-width">
            <mat-label>Mật khẩu mới</mat-label>
            <input formControlName="newPassword" type="password" matInput >
        </mat-form-field>

        <mat-form-field class="change-password-full-width">
          <mat-label>Nhập lại mật khẩu mới</mat-label>
          <input formControlName="confirmPassword" type="password" matInput >
          @if (changePasswordForm.value.newPassword !== changePasswordForm.value.confirmPassword){
            <small class="text-danger">Mật khẩu không khớp</small>
          }
        </mat-form-field>
        <button type="submit"  mat-flat-button>Xác nhận</button>

        </form>
    </div>
    </div>
</div>

