.container-fluid {
  display: flex;
  height: 88vh; /* Chiều cao của container */
  box-sizing: border-box; /* Đảm bảo padding và border không làm thay đổi kích thước */
}

.list-section {
  flex: 0 0 20%; /* Chiếm 30% chiều rộng của container */
  padding-left: 10px; /* Xóa padding */
  padding-right:10px;
  padding-top:5px;
  border-right: 1px solid #ccc; /* Viền bên phải của phần danh sách */
  overflow-y: auto; /* Thêm thanh cuộn nếu nội dung dài hơn chiều cao của phần */
  box-sizing: border-box; /* Đảm bảo padding và border không làm thay đổi kích thước */
}

.table-section {
  padding-top:15px;
  padding-left:15px;
  width: 100%;
  flex: 0 0 80%; /* Chiếm 70% chiều rộng của container */

  overflow-y: auto; /* Thêm thanh cuộn nếu nội dung dài hơn chiều cao của phần */
  box-sizing: border-box; /* Đảm bảo padding và border không làm thay đổi kích thước */
}
.table-user{
  padding:20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: white;
}
.input-search{
  border-radius:20px;
  border:none;
  padding: 5px 10px;
  height: 40px;
  width: 300px;
  background-color: #d7e3ff;
}
.input-search:focus{
  outline: none;
  background-color: #cccccc;

}
.table-user .toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.table thead tr th{
  font-size: 0.875rem;
  color: #78829d;
  text-align: left;
}
.table tbody tr td {
  font-size: 0.875rem;
  color: #78829d;
  text-align: left; /* Căn giữa chữ */
  vertical-align: middle; /* Căn giữa theo chiều dọc */
}
