<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="list-section">
    <app-authorization-list-section></app-authorization-list-section>
  </div>
  <div class="table-section">
    <h4>Danh sách quyền</h4>
    <table class="table table-striped table-hover table-bordered">
      <thead>
      <tr>
        <th scope="col" class="uid-column">#</th>
        <th scope="col">Tên quyền</th>
        <th scope="col">Mô tả</th>
      </tr>
      </thead>
      <tbody>
      <!--      <tr *ngFor="let user of users">-->
      <!--        <td class="uid-column">{{user.id_user}}</td>-->
      <!--        <td>{{user.name}}</td>-->
      <!--        <td>{{user.email}}</td>-->
      <!--        <td>{{user.address}}</td>-->
      <!--        <td>{{user.phone}}</td>-->
      <!--        <td>{{user.role.name_role}}</td>-->
      <!--        <td>Xóa | <a routerLink="/edit-user/{{user.id_user}}">Sửa</a></td>-->
      <!--      </tr>-->
      </tbody>
    </table>



  </div>

</div>
