<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="list-section">
    <app-user-list-section></app-user-list-section>
  </div>
  <div class="content-section">
    <mat-toolbar class="toolbar2">
      <span>Thêm dự án</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
    <div>
      <form class="add-project-form">
        <mat-form-field class="add-project-full-width">
          <mat-label>Tên dự án</mat-label>
          <input matInput placeholder="Vd. Dự án A">
        </mat-form-field>
        <mat-form-field class="add-project-full-width">
          <mat-label>Địa chỉ</mat-label>
          <input matInput placeholder="Vd. Dự án A">
        </mat-form-field>
        <mat-form-field class="add-project-full-width">
          <mat-label>Mô tả</mat-label>
          <input matInput placeholder="Vd. Dự án A">
        </mat-form-field>
        <mat-form-field class="add-project-full-width">
          <mat-label>Ngày bắt đầu</mat-label>
          <input matInput [matDatepicker]="picker1">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="add-project-full-width">
          <mat-label>Ngày kết thúc</mat-label>
          <input matInput [matDatepicker]="picker2">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <button mat-flat-button color="primary">Xác nhận</button>
      </form>
    </div>
  </div>
</div>
