<div class="list-group">
  <a routerLink="/authorization" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active-button" class="list-group-item list-group-item-action" aria-current="true">
    Phân quyền
  </a>
  <a routerLink="/authorization/permission-list" routerLinkActive="active-button" class="list-group-item list-group-item-action">Danh sách quyền</a>
  <a routerLink="/authorization/role-list" routerLinkActive="active-button" class="list-group-item list-group-item-action">Vai trò</a>
</div>

