<nav>
  <mat-toolbar>

    <section>
      <div class="example-button-row">
        <button mat-button>Project 1</button>
        <button mat-button disabled>Người dùng</button>
        <a mat-button href="https://www.google.com/" target="_blank">Chức năng 2</a>
      </div>
    </section>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>person</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Đổi mật khẩu</button>
      <button mat-menu-item>...</button>
      <button mat-menu-item (click)="signOut()">Đăng xuất</button>
    </mat-menu>
  </mat-toolbar>

</nav>
