.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-form {
  min-width: 300px;
  max-width: 500px;
  width: 100%;
}

.login-full-width {
  width: 100%;
}
.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #3fb53f;
}
