<div class="list-group">
  <a routerLink="/management/user" [routerLinkActiveOptions]="{ exact: false }" routerLinkActive="active-button" class="list-group-item list-group-item-action" aria-current="true">
    Người dùng
  </a>
  <a routerLink="/management/role" routerLinkActive="active-button" class="list-group-item list-group-item-action" aria-current="true">
    Vai trò
  </a>
  <a routerLink="/management/permission" [routerLinkActiveOptions]="{ exact: false }" routerLinkActive="active-button" class="list-group-item list-group-item-action" aria-current="true">
    Quyền
  </a>
  <a routerLink="/management/authorization" [routerLinkActiveOptions]="{ exact: false }" routerLinkActive="active-button" class="list-group-item list-group-item-action">Phân quyền</a>
  <a routerLink="/management/project" [routerLinkActiveOptions]="{ exact: false }" routerLinkActive="active-button" class="list-group-item list-group-item-action" aria-current="true">
    Dự án
  </a>
</div>

