<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="list-section">
    <app-user-list-section></app-user-list-section>
  </div>
  <div class="authorization-section">
    <div class="role-section">
      <h6>Chọn vai trò</h6>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Vai trò</mat-label>
          <input type="text"
            placeholder="Chọn một"
            aria-label="Vai trò"
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto">
          <mat-autocomplete
            autoActiveFirstOption
            #auto="matAutocomplete"
            (optionSelected)="onRoleSelected($event)">
            @for (role of filteredOptions | async; track role) {
              <mat-option [value]="role.id_role">
                {{ role.name_role }}
              </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </form>
      <button mat-flat-button style="width: 100%" routerLink="/management/role/add">Thêm vai trò mới</button>
    </div>
    <div class="permission-section">
      <h6>Chọn quyền</h6>
      @if (allPermissions.length>0) {
        <div class="check-box-permission">
          @for (permission of allPermissions; track permission) {
            <section>
              <p><mat-checkbox [value]="permission.id_permission" [(ngModel)]="permission.checked">{{ permission.permission_name }}</mat-checkbox></p>
            </section>
          }
        </div>
      }
      <button class="btn-save" mat-flat-button (click)="saveRolePermission()"
      [disabled]="myControl.value === '' || myControl.value === null|| Number(myControl.value) === 1">Lưu</button>
      @if (allPermissions.length<=0) {
        <div>
          <p>Đang tải...</p>
        </div>
      }

    </div>
  </div>
</div>
